.Chat .header{
    position: absolute;
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: rgb(2, 141, 154);
}

.Chat .header h1{
    position: absolute;
    left: 3%;
    top: 2%;
    color: white;
}

.Chat .header i{
    position: absolute;
    left: 95%;
    top: 24%;
    color: aliceblue;
    font-size: 40px;
}

.Chat .menu{
    position: fixed;
    height: 11%;
    top: 89%;
    width: 100%;
    background-color: white;
    border-top: 1px solid rgb(241, 240, 240);
}

.Chat .menu .conn1 i{
    position: absolute;
    font-size: 40px;
    color: rgb(2, 141, 154);
    left: 7%;
    top: 17%;
    cursor: pointer;
}

.Chat .menu .conn1 label{
    position: absolute;
    font-size: 25px;
    color: rgb(2, 141, 154);
    left: 6%;
    top: 55%;
    cursor: pointer;
}

.Chat .menu .conn2 i{
    position: absolute;
    font-size: 40px;
    color: rgb(2, 141, 154);
    left: 27%;
    top: 17%;
    cursor: pointer;
}

.Chat .menu .conn2 label{
    position: absolute;
    font-size: 25px;
    color: rgb(2, 141, 154);
    left: 26%;
    top: 55%;
    cursor: pointer;
}

.Chat .menu .conn3 img{
    position: absolute;
    height: 60px;
    width: 60px;
    color: rgb(2, 141, 154);
    left: 47%;
    top: 17%;
    cursor: pointer;
}

.Chat .menu .conn4 i{
    position: absolute;
    font-size: 40px;
    color: rgb(2, 141, 154);
    left: 67%;
    top: 17%;
    cursor: pointer;
}

.Chat .menu .conn4 label{
    position: absolute;
    font-size: 25px;
    color: rgb(2, 141, 154);
    left: 64.3%;
    top: 55%;
    cursor: pointer;
}

.Chat .menu .conn5 i{
    position: absolute;
    font-size: 40px;
    color: rgb(2, 141, 154);
    left: 87%;
    top: 17%;
    cursor: pointer;
}

.Chat .menu .conn5 label{
    position: absolute;
    font-size: 25px;
    color: rgb(2, 141, 154);
    left: 86.5%;
    top: 55%;
    cursor: pointer;
}

