.Post .header{
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: rgb(2, 141, 154);
}

.Post .header h1{
    position: absolute;
    left: 7%;
    top: 2%;
    color: white;
}

.Post .header i{
    position: absolute;
    left: 1%;
    top: 24%;
    color: aliceblue;
    font-size: 50px;
}

.Post .write{
    position: absolute;
    height: 6%;
    width: 100%;
    top: 11%;
    background-color: azure;
}

.Post .write .l1{
    position: absolute;
    left: 30%;
    top: 30%;
}

.Post .write .but{
    position: absolute;
    left: 70%;
    top: 0%;
    height: 100%;
    width: 30%;
    background-color:  rgb(2, 141, 154);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.Post .write i{
    position: absolute;
    left: 26%;
    top: 25%;
    font-size: 30px;
    color: rgb(145, 247, 247);
}